<%= stylesheet_link_tag "application.css" %>

<h1>ONE OF THE CatRentalRequests!!!</h1>

<ul>
  <li>
    <%= @cat_rental_request.cat.name %>
  </li>
  <li> <%= @cat_rental_request.start_date %> </li>
  <li> <%= @cat_rental_request.end_date %> </li>
  <li> <%= @cat_rental_request.status %> </li>
  
</ul>


